* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

body {
  background-color: #000033;
}

.title {
  text-align: center;
}
.title h2 {
  font-family: "Niconne", sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 43.65px;
  margin-top: 3.7rem;
}

.title .spotlight-icon {
  margin: 5.2rem 0 6.2rem 0;
}

.title .hero {
  background-image: url("assets/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 32.1rem;
  padding-top: 4rem;
}

.title .hero h3 {
  font-family: "Calistoga", sans-serif;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 33.8px;
}

.title .hero-instruction {
  font-family: "Calistoga", sans-serif;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 33.8px;
  margin-top: 2.9rem;
}

.white-text {
  color: #f0f0f0;
}

.soundcloud-player {
  width: 30.5rem;
  height: 39.1rem;
  background-color: #f0f0f0;
  border-radius: 15px;
  margin: 2.2rem auto;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
}

.soundcloud-player .schedule {
  font-family: "Calistoga", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.8rem;
  line-height: 21, 09px;
  margin: 3rem 0 0 2.2rem;
}

.soundcloud-player .player-action {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.soundcloud-player .player-action button {
  background-color: #000033;
  color: #f0f0f0;
  font-size: 1.8rem;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0 3.5rem 2.9rem;
}
.soundcloud-player .player-action .price {
  font-size: 2.4rem;
  margin-right: 2.8rem;
  font-weight: 700;
  font-style: italic;
}

.forbidden {
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: green;
  color: red;
  font-size: 4rem;
}
